.block {
    background-color: pink;
}

.gayshit {
    background-color: rebeccapurple;
}

html, body {
    text-align: center;
    font-family: arial;
    padding: 0;
    margin: 0;
    }
        
    table {
    border: 0px;
    border-collapse: collapse;
    margin: auto;
    }
        
    td {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-style: solid;
    border-color: black;
    background-color: grey;
    border-width: 1px;
    }
